// Color
.info-color {
  color: $info-color;
}
.success-color {
  color: $success-color;
}
.danger-color {
  color: $danger-color;
  color: #5cb85c;
}

// BG Colors
.info-bg {
  background: $info-color;
}

.flex {
  &-s {
    &-a {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &-b {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-c-c {
    display: flex!important;
    justify-content: center;
    align-items: center;
  }
  &-col {
    &-c {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

// Buttons
.btn-warning {
  background-color: $brand-primary;
  border-color: $brand-primary;
  transition: all .5s ease;
  &:hover {
    background-color: darken($brand-primary,5%);
    border-color: darken($brand-primary,5%);
  }
}
