// Variables
$brand-primary:       #563D7C;
$primary-dark:        darken($brand-primary, 10%);

$light-font:          #777777;

$info-color:          #5bc0de;
$success-color:       #5cb85c;
$danger-color:        #d9534f;
